[2020-10-10 00:53] gastaldi opened #1 "Add Contributors"

[2020-10-10 00:53] gastaldi commented on #1
@all-contributors add @zhfeng for code and maintenance

[2020-10-10 00:53] #1 closed

[2020-10-14 18:19] gastaldi opened #4 "Perform a release"
So it can be included in registry.quarkus.io

[2020-10-19 02:58] zhfeng commented on #4
@gastaldi can you guide me how to do a release ? Thanks

[2020-10-19 10:46] gastaldi commented on #4
I forgot to paste the link for the page with instructions: https://github.com/quarkiverse/quarkiverse/wiki/Release

[2020-10-20 12:09] zhfeng commented on #4
Sure, I will check the page.

[2020-10-20 12:31] gastaldi commented on #4
If you could update the README with more information about the project that would be great too :wink:

[2020-10-20 13:54] zhfeng commented on #4
yeah, it is exactly what I'm working on and do you know where to place the mybatis.adoc ? also is there any way to generate the documentation and make it availiable on https://quarkus.io/guides/mybatis ?

[2020-10-20 13:57] zhfeng opened #6 "Update the README"
It should be better to update the README doc to provide more information about the project.

[2020-10-20 14:55] gastaldi commented on #4
Well, there are some resistance from some core members in putting the guide in the quarkus.io/guides/ (we are still discussing that), therefore I suggest to add them in a `docs/` directory in your repository in the meantime (for anything more complex than the README).

[2020-10-21 01:00] #6 closed

[2020-10-21 01:21] zhfeng commented on #4
Thanks @gastaldi - I just release the 0.0.1

[2020-10-21 04:57] gastaldi commented on #4
Excellent! Good job!

[2020-10-21 04:57] #4 closed

[2020-10-27 01:19] caobingsheng opened #9 "Support MyBatis XML configuration"

[2020-10-27 15:06] zhfeng commented on #9
Not yet. As I'm not a expert of MyBatis and also not simliar with the xml configuration, can you provide some deatails or maybe a simple example of it ?

Thanks a lot.

[2020-10-29 01:27] caobingsheng commented on #9
Sql is written in xml file, for [example](https://mybatis.org/mybatis-3/zh/sqlmap-xml.html)

[2020-10-29 01:50] zhfeng commented on #9
Thanks @caobingsheng and it is very helpful ! I will check it.

[2020-10-30 00:25] zhfeng opened #10 "Investigate to remove the --report-unsupported-elements-at-runtime in native mode"
[code]

[2020-12-11 11:37] jchambrin opened #13 "Support for multiple datasources"
Hi,

I think it would be great to implement this feature. Something similar to https://quarkus.io/guides/hibernate-orm#multiple-persistence-units.
I am currently working on it, so if you are interesting I can submit a merge request when it is done.

[2020-12-14 07:10] zhfeng commented on #13
Thanks @jchambrin, it looks useful and welcome the contribution !

[2020-12-16 08:09] fsantagada-goo opened #14 "Doc url wrong"
No a true issue but link (https://quarkus.io/guides/mybatis) to doc is wrong.
Please fix.

[2020-12-16 09:51] gsmet commented on #14
@zhfeng we have an Antora setup for the Quarkiverse.

You can mimic what I did here: https://github.com/quarkiverse/quarkiverse-github-app/tree/master/docs .

And then add your repo here: https://github.com/quarkiverse/quarkiverse-docs/blob/master/antora-playbook.yml

[2020-12-16 10:29] zhfeng commented on #14
Thanks @gsmet and I will take a look

[2021-01-12 22:46] 362228416 commented on #10
same problem.

[2021-01-12 23:06] 362228416 opened #19 "mvn package error"
I just introduce a dependency and the compilation will fail, and it's important to me what configuration I need to do to compile

[code]

pom.xml
[code]

[code]

[2021-01-13 07:37] zhfeng commented on #19
@362228416 I think you need to add
[code]
in the native profile right now.

and yeah, I hope to remove this option in the future release.

[2021-01-13 10:59] 362228416 commented on #19
thanks,
mybatis mapUnderscoreToCamelCase how to set ?

[2021-01-13 11:22] zhfeng commented on #19
sorry, I'm not similar with the mybatis. Can you provide more detail about this problem ? Anyway, it should be better to create a new issue for mapUnderscoreToCamelCase.

[2021-01-13 11:29] 362228416 commented on #19
我现在打包native成功了，但是在jvm下运行没有问题的代码，native会有问题，出现找不到构造器的问题

Caused by: org.apache.ibatis.executor.ExecutorException: No constructor found in com.xx.model.User matching [java.lang.Integer, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.Integer, java.sql.Timestamp, java.sql.Timestamp, java.sql.Timestamp]
	at org.apache.ibatis.executor.resultset.DefaultResultSetHandler.

[2021-01-13 11:29] 362228416 commented on #19
@zhfeng

[2021-01-13 11:32] zhfeng commented on #19
@362228416 please create a new issue and provide these information and simple reproducer would be very helpful !

[2021-01-13 11:32] #19 closed

[2021-01-13 11:34] zhfeng commented on #19
Although I can read chinese, it could be better to describe it with English which could help more people with the same issue.

[2021-01-13 11:39] 362228416 opened #20 "No constructor found"
The JVM is running without problems. Native will report an error

[code]

I added a default constructor and a full-parameter constructor to my model, but it still doesn't work. The parameter type configuration matches the one printed by the exception. I don't know why

[code]

Finally, does this library run on JVM only, or can it be called native? Is there any configuration required for native?

[2021-01-13 12:26] zhfeng commented on #20
Thanks @362228416 for reporting this issue.

Is it possible to provide a simple project to reproduce this issue ? Or you can provide some steps I can follow to reproduce it.
So I can take a close look.

[2021-01-14 09:43] 362228416 commented on #20
@zhfeng

test on linux
step:
1、git clone https://github.com/362228416/quarkus-mybatis-demo.git
2、create database and import db.sql
3、./mvnw clean package -Dmaven.test.skip=true -Dnative
4、./target/quarkus-mybatis-demo-1.0.0-SNAPSHOT-runner
5、curl http://localhost:8080/users
6、curl http://localhost:8080/users/save?username=zhangsan&password=123456

[2021-01-14 09:48] 362228416 commented on #20
### Error updating database.  Cause: org.apache.ibatis.reflection.ReflectionException: There is no getter for property named 'username' in 'class com.cs.model.User'
### The error may exist in com/cs/dao/UserMapper.java (best guess)
### The error may involve com.cs.dao.UserMapper.insert-Inline
### The error occurred while setting parameters
### SQL: insert into user(username,password) values(?,?)
#

[2021-01-14 09:48] 362228416 commented on #20
[code]

[2021-01-14 13:13] 362228416 commented on #20
I have found the problem, it is the problem of MyBatis. In addition, I need to add a reflection configuration file, and it is OK to add all the model classes used

[2021-01-14 15:35] zhfeng commented on #20
It is great to hear this. And I think it could be very useful to provide your solution, e.g. how to add the model classes in the reflection configuration file. These information will help more people when they met the similar problems. Thanks in adavance !

Also, I think there is some room we can improve the mybatis extension for these reflection issues.

1. Provide a preporty such as **quarkus.my

[2021-01-14 16:15] 362228416 commented on #20
I have updated the project demo, but I don't know much about the expansion mechanism of quarkus, so I wrote a tool class to generate reflect-config.json, and then add a line of configuration to the configuration file. If you can add it to this extension, it will be more convenient for others to use it

[2021-01-14 16:15] #20 closed

[2021-01-25 03:29] zhfeng opened #25 "Support mapUnderscoreToCamelCase from MyBatis"
This option is from MyBatis, please refer to https://mybatis.org/mybatis-3/configuration.html

mapUnderscoreToCamelCase | Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn. | true \| false | False
-- | -- | -- | --

[2021-01-25 03:47] #25 closed

[2021-01-29 10:52] zhfeng commented on #14
@gsmet I raise https://github.com/quarkiverse/quarkiverse-docs/pull/4 to add the Quarkus MyBatis documentation. Also I'd merged  https://github.com/quarkiverse/quarkus-mybatis/pull/30 to add the docs and antora.yml. Can you take a look at them ? I'm not sure if it needs to do a new release for these changes ? or just have them in the repo ?

[2021-01-29 14:24] #14 closed

[2021-02-12 19:48] Gloduck opened #36 "Seems like not support the dynamic sql while running native?"
If i want to use annotation like `@SelectProvider` . It can successfully running in jvm,but running native i get Error like this:
[code]
Are there any solutions to this problem?

[2021-02-14 14:36] igor-dmitriev opened #37 "Failed with native build"
[code]

[code]

[2021-02-14 15:00] igor-dmitriev commented on #37
Adding those properties solved the issue I had
https://github.com/quarkusio/quarkus/issues/6327#issuecomment-599037575

[2021-02-14 15:00] igor-dmitriev commented on #37
Adding those properties solved the issue https://github.com/quarkusio/quarkus/issues/6327#issuecomment-599037575

[2021-02-14 15:00] #37 closed

[2021-02-18 06:19] zhfeng commented on #36
@Gloduck the work around looks like to add SelectProvider to the reflective class items. I will take a look.

[2021-02-18 08:44] #36 closed

[2021-02-18 11:21] zhfeng commented on #36
@Gloduck I just release quarkus-mybatis 0.0.4 and can you try it to see if it works ? Thanks !

[2021-03-17 02:39] zhfeng opened #50 "Run native tests in github workflow"

[2021-03-17 08:44] lbj2049 opened #53 "java 1.8 run error"
support java 1.8

[2021-03-17 13:04] zhfeng commented on #53
Can you show the detail of this error ? also I think Quarkus has deprecated Java 8 support since 1.4

[2021-03-27 03:58] kbrumer opened #56 "Add support for MappedTypes and MappedJdbcTypes"
It is very useful to have MappedTypes if you work at all with UUIDs. This could be added I think in a simlar way to how Mappers work now - look for any class with an annotation of MappedTypes (or MappedJdbcTypes) and then add them to the configuration.

I'd be more than happy to try and take a first pass at it if someone would point me in the right direction.

Thanks!

[2021-03-29 01:12] zhfeng commented on #56
Thanks @kbrumer and please go ahead to try scanning the MappedTypes annnotation by using ```CombinedIndexBuildItem``` just like we do with ```Mapper``` in ```MyBatisProcessor::addMyBatisMappers(...)```

[2021-03-29 01:14] zhfeng commented on #56
And I think it could be helpful to add some unit tests.

[2021-03-31 03:55] kbrumer commented on #56
@zhfeng My PR (the second one) is complete with a unit test. Please let me know if you have any questions or comments. Thanks!

[2021-03-31 08:42] zhfeng commented on #56
Thanks @kbrumer and it could be better to add a similar one to the integration-tests and run the tests in the native mode. And I will merge your PR and leave this in a new issue.

[2021-03-31 08:48] zhfeng opened #62 "Add a integration test for MappedTypes and MappedJdbcTypes and test in native mode"
related to https://github.com/quarkiverse/quarkus-mybatis/issues/56 and we need to add a similar one like UuidJdbcTypeHandler in integration tests and make sure it works in native mode.

[2021-04-02 05:21] zhfeng commented on #62
@kbrumer I wonder that why we need two mapped type handlers. It is possible to use ```MappedTypes``` and ```MappedJdbcTypes``` in the same class, just like

[code]

[code]

[2021-04-02 05:31] zhfeng commented on #62
Also if you have a chance to run the integration-tests in native mode by using
[code]
and it does not work right now. I will take a look soon.

[2021-04-02 05:44] #62 closed

[2021-04-02 06:29] #50 closed

[2021-04-02 17:30] kbrumer commented on #62
@zhfeng Yes, you could put two annotations on the same class. When I initially did that it was registering the bean twice and threw an exception, but you have added a check so it won't do that anymore.

Thanks for cleaning up the rest of the PR!

[2021-04-14 00:38] #13 closed

[2021-04-16 09:09] zhfeng opened #72 "Investigate the SerializedCahce in Native image"
Since the GraalVM 21.x added serialization support for Native Image, I think it need to investigate how this could affect the MyBatis SerializedCache usage. Currently we suppose to ```@CacheNamesapce(readWrite=false) must be used in the native image.

[2021-04-16 09:10] #9 closed

[2021-04-21 15:44] zhfeng opened #74 "Do not create sqlSessionFactory for each data source if using XML configuration"
The data source should be specified in the XML configuration and could be helpful to mention in the docs.

[2021-04-29 14:26] zhfeng commented on #74
It could introduce ```isFromXmlConfig``` field in ```SqlSessionFactoryBuildItem``` and set it ``` true``` when create sqlSessionFactory from XmlConfiguration file.

[2021-04-29 14:49] zhfeng opened #84 "Introduce XmlConfigEnabledBuildItem to enable xml configuration support from other extension"
This could help other extension such as camel-quarkus-mybatis to enable ```quarkus.mybatis.xmlconfig.enable```

[2021-04-29 14:52] #74 closed

[2021-04-30 09:10] draccagni opened #85 "Error: ... because 'http' access is not allowed due to restriction set by the accessExternalDTD property"
Hello,
I'm tring to use mybatis in a Quarkus project built in native mode. When I load an xml mapping file, the following errore is raised:
[code]

The code snippet that I use to load the mapping file is:
[code]

while the mapper file is:
[code]

I have already tried to add
[code]

without success.

[2021-04-30 09:24] zhfeng commented on #85
I just fix https://github.com/quarkiverse/quarkus-mybatis/issues/9 to support xml configuration.

So have you ever try the SNAPSHOT from master branch ? and use the following options in application.properties
[code]

and please check the example xml configuration.
[code]

[2021-04-30 12:08] draccagni commented on #85
Unfortunately fix #9 doesn't solve my issue. I use mybatis just to load and build a MappedStatement that uses the XPathParser to build it from xml, but raises the exception above.

[2021-04-30 12:52] zhfeng commented on #85
OK, I see and could you share us with a simple re-producer project ? I'd like to take a close look.

[2021-04-30 12:55] zhfeng commented on #85
And this exception only happens in native build ?

[2021-04-30 14:01] draccagni commented on #85
Yes, it happens only in native build. In dev mode the problem is not present. I will provide you a re-producer project ASAP.

[2021-04-30 17:51] draccagni commented on #85
I have found how to solve the problem: in the Dockerfile.native file it is necessary to add -Djavax.xml.accessExternalDTD=all on application launching.

You can find the re-producer project at https://github.com/draccagni/quarkus-hibernate-orm-mybatis-3

[2021-05-06 12:13] zhfeng commented on #85
Thanks @draccagni and could this issue be closed ?

[2021-05-06 22:35] #85 closed

[2021-05-11 09:10] gsmet commented on #53
Quarkus 2.0 will require a minimum version of Java 11 so I would recommend that you update your JDK to 11.

@zhfeng while we deprecated JDK 8, we still support it for now so if it doesn't cost you, you could reintroduce JDK 8 support for a while. But that's really your call depending on how much work it is for you.

[2021-05-11 09:41] zhfeng commented on #53
I just create https://github.com/quarkiverse/quarkus-mybatis/pull/88/files and if CI works. I think it should be OK to get the JDK8 support again.

[2021-05-28 06:42] zhfeng opened #93 "Build fails with the lastest quarkus"
[code]

It needs to check with GraalVM 21.1.0

more detail should be https://github.com/quarkiverse/quarkus-mybatis/actions/workflows/quarkus-snapshot.yaml

[2021-06-16 08:38] zohar-soul opened #95 "有计划支持mybatis plus 或者 basemapper 之类的嘛"
没有单表crud 写业务着实有点累

[2021-06-16 10:00] zhfeng commented on #95
I'm open to add these features. Can you provide some examples of mybatis plus or baseMapper ? Or something you are using to write the business logic ?

Thanks !

[2021-06-16 12:45] zohar-soul commented on #95
https://github.com/abel533/Mapper
示例可以参见这里: https://github.com/abel533/Mybatis-Spring
感谢

[2021-06-16 14:19] zhfeng commented on #95
Well, I just take a look at this Common Mapper and it seems an enhencement of MyBatis and providing more build-in methods in Mapper interface. So I think it could be better to introduce a new extension to support these features and this new extension can depend on ```quarkus-mybatis```.

[2021-06-16 14:20] zhfeng commented on #95
Well, I just take a look at this Common Mapper and it seems an enhencement of MyBatis and providing more build-in methods in Mapper interface. So I think it could be better to introduce a new extension to support these features and this new extension can depend on ```quarkus-mybatis```.

[2021-06-16 14:26] zohar-soul commented on #95
嗯, 建立一个新的扩展也是不错的想法

[2021-06-17 07:39] zhfeng commented on #93
It seems that the build comes back to normal.

[2021-06-17 07:39] #93 closed

[2021-06-17 07:47] zhfeng commented on #53
@lbj2049 @Alujixixi I think this fix has been included in 0.0.8 relesae and can you check it please ?

[2021-07-05 03:02] zhfeng commented on #53
@lbj2049 @Alujixixi since we upgrade to Quarkus 2.0.0.Final, I just consider to remove the JDK 8 support in the next new release maybe in 0.1.0

[2021-07-05 03:02] #53 closed

[2021-07-07 07:43] zhfeng commented on #10
I finally find that the root cause is that the graal does not static analyst the [Reflector.java](https://github.com/mybatis/mybatis-3/blob/master/src/main/java/org/apache/ibatis/reflection/Reflector.java) in the right way. It just assume the clazz is Class and add all of the get methods. So when we do ```method.invoke(...)```, it will throw such DeletedElementException.

I have a simple workaroun

[2021-07-08 00:51] zhfeng commented on #10
Because this happens during static analysis, subsitution will not be helpful here. And I write a simple test which only uses mybatis, it works by using native-image building. So I will raise an issue in upstream graal to find some helps.

[2021-07-08 17:07] zakkak commented on #10
@zhfeng https://github.com/mybatis/mybatis-3/pull/2284 should solve this issue.

[2021-07-09 00:50] zhfeng commented on #10
Thanks @zakkak for your investigating with this issue !

[2021-07-09 03:39] zhfeng commented on #10
@zakkak I confirm that your fix with mybatis works. So hope it could be accepted

[2021-07-09 04:04] zhfeng commented on #95
@zohar-soul Would you like to maintain this new extension under quarkiverse just like (quarkiverse/quarkus-mybatis-plus or another name if you like) ? I'm happy to help you to create it.

Thanks !

[2021-07-09 07:18] zohar-soul commented on #95
我有这方面的想法, 我目前在quarkus-mybatis的基础上尝试做了些修改, 跑起来了一个初步的版本.

[2021-07-09 08:33] zhfeng commented on #95
@zohar-soul That's great !

@gastaldi Is it possible for us to create a new repo for quarkiverse/quarkus-mybatis-plus ? and I think @zohar-soul had some initial works and  also he would like to maintain it.

[2021-07-09 08:46] zohar-soul commented on #95
方便的话可以给我一下你的联系方式(qq,微信之类的), 有需要的时候好请教你

[2021-07-09 09:05] zhfeng commented on #95
@zohar-soul you are free to ask any question here in public way. I think you can get more help in this way since there are more guys in the community. Anyway, you can contact me by wechat (fzh_eng) if you like.

[2021-07-09 09:12] zohar-soul commented on #95
ok thanks

[2021-07-09 09:45] gastaldi commented on #95
Sure, no problem. Repository created in https://github.com/quarkiverse/quarkus-mybatis-plus

I assume it is an extension for this library: https://github.com/baomidou/mybatis-plus?

[2021-07-09 09:57] zhfeng commented on #95
Thanks @gastaldi and I think you are right. It will be an extension for https://github.com/baomidou/mybatis-plus.

I will do an initial commit to setup https://github.com/quarkiverse/quarkus-mybatis-plus. And I wonder it is possible to add @zohar-soul as a Maintainer in the quarkus-mybatis-plus repo ?

[2021-07-09 10:01] gastaldi commented on #95
I have already added @zohar-soul to the list of maintainers (an invitation link to join the @quarkiverse/quarkiverse-mybatis-plus team should have been sent for now - let me know if you received it @zohar-soul).

[2021-07-09 10:31] zohar-soul commented on #95
@gastaldi @zhfeng
I have received the invitation.
But what I'm trying to create extension is https://github.com/abel533/Mapper ,not https://github.com/baomidou/mybatis-plus. yet the principles of the two repo are similar
--------
我已经收到了邀请.
但是我目前尝试支持的是之前我提到的这个 https://github.com/abel533/Mapper, 而不是 https://github.com/baomidou/mybatis-plus
不过两个的原理是类似的

[2021-07-09 12:39] gastaldi commented on #95
Ah so perhaps we should name it `quarkus-mybatis-mapper` instead, or maybe put it in another directory in the `quarkus-mybatis` repository (so they stay in sync between releases)

WDYT @zhfeng @zohar-soul ?

[2021-07-09 13:16] zhfeng commented on #95
@gastaldi @zohar-soul I'd suggest that we support mybatis-plus since it is much more activities in the community. And for https://github.com/abel533/Mapper, I think it's more like a personal project.

[2021-07-09 14:58] zohar-soul commented on #95
ok, I will try to support mybatis-plus

[2021-07-09 15:07] gastaldi commented on #95
@zhfeng WDYT about maintaining it in the same `quarkus-mybatis` repository under a subdirectory?

[2021-07-09 15:52] zhfeng commented on #95
@gastaldi Well, that could be an option. So we can construct the directory like

[code]
I'm not sure how this could affect the github workflow or anythin else. I will try to do this in the next week.

[2021-07-09 16:10] gastaldi commented on #95
Yes, the GitHub workflow won't be affected since it would still be a multimodule project

[2021-07-12 03:21] zhfeng opened #100 "Support mybatis-plus"
Following #95 and we consider to support [mybatis-plus](https://github.com/baomidou/mybatis-plus) in this repo.

[2021-07-13 02:29] #95 closed

[2021-07-13 02:32] zhfeng commented on #100
@zohar-soul I just creat mybati-plus module and feel free to work on the extension. I will invite you to join the maintain team.

[2021-07-28 11:36] liuzhaozhao opened #108 "xml configure problem"
Inject failed when I used xml to configure Mapper，Can you help me look at this problem

xml :
`
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="QUARKUS">
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/TaskMa

[2021-08-03 12:56] zhfeng commented on #108
@liuzhaozhao So what is the problem ? taksMapper is null ?

[2021-08-03 13:05] zhfeng commented on #100
@zohar-soul Do you get any update on this issue and please raise a PR for initial codes. We can get more discuss.

[2021-08-04 02:43] zohar-soul commented on #100
I will submit a minimum available version at the weekend, which can be discussed at that time

[2021-08-15 03:39] rpdeadly opened #113 "Will this extension work with quarkus 2.0 ?"
Hi quarkus-mybatis team.  I'm a huge fan of mybatis and quarkus and wanted to know if the team had plans to port the code to quarkus 2.0.

[2021-08-15 03:57] #113 closed

[2021-08-15 03:57] rpdeadly commented on #113
closing question after reviewing pull request. Looks like it will work.

[2021-08-16 03:17] zhfeng commented on #113
Thanks @rpdeadly and I can confirm that we support Quarkus 2.x

[2021-08-16 21:11] 9too opened #114 "Type Aliases problem since 0.0.8"
# Issue

I use an XML configuration for type aliases like so :
[code]

The problem is that since version 0.0.8 or more specifically commit 5517c67, this error occur during startup :
[code]
*Redacted stacktrace*

The error stems from this [MyBatisRecorder.createSqlSessionFactory](https://github.com/quarkiverse/quarkus-mybatis/blob/1b42db1aa6a92fda4563d02e4b95e75fed891917/mybatis/runtime/src/main/ja

[2021-08-17 00:59] zhfeng commented on #114
Thanks @9too for reporting this issue and nice investigating. I will take a look.

[2021-08-17 06:07] zhfeng commented on #114
Could you provide a simple reproduce project that would be very helpful ? Thanks.

[2021-08-17 15:07] 9too commented on #114
Of course, here it is : https://github.com/9too/quarkus-mybatis-issue-114

[2021-08-18 04:14] zhfeng commented on #114
Nice and I will check with it.

[2021-08-18 11:15] zhfeng opened #115 "Add the mapper with the matched dataSource"
currently we add all the mappers for each data source.

[2021-08-18 11:25] zhfeng commented on #114
OK, I can re-produce the issue on my local machine. And I found that we produce a SqlSessionFactory for xml configuration with the dataSource name ```xmlconfig``` which should be improved to get the property db of <dataSource> from the mybatis-config.xml. I just push a fix for #115 and I have test with this fix and a little change with MyMapper.java
[code]
That could fix your issue.

Anyway I will

[2021-08-18 11:27] #115 closed

[2021-09-08 02:55] zhfeng opened #123 "Add our own GenericTypeReslover"
When upgrading to mybatis-plus 3.4.3.3, we have to implement our own GenericTypeResolver to avoid depending on the spring on.

[2021-09-08 02:58] zhfeng commented on #100
Thanks @zohar-soul and I create https://github.com/quarkiverse/quarkus-mybatis/pull/122 to add mybatis-plus support.

[2021-09-17 01:25] zhfeng opened #127 "Add more tests with mybatis-plus"

[2021-09-18 14:45] zhfeng opened #130 "It sould add the mybatis-plus support and example description in README"

[2021-09-20 03:20] #127 closed

[2021-09-20 03:23] zhfeng opened #131 "Add XMLConfigBuilderBuildItem"
It needs to add this BuildItem for mybatis-plus to override it. And it could be used in ```createSqlSessionFactory``` with ```MyBatisRuntimeConfig```

[2021-09-20 03:24] #100 closed

[2021-09-20 16:13] #131 closed

[2021-10-08 13:50] zhfeng commented on #123
@zohar-soul Did you get any update on this issue ?

[2021-10-09 03:06] zohar-soul commented on #123
I will submit a preliminary version at the weekend

[2021-10-18 09:34] 362228416 opened #137 "How to add MybatisPlusInterceptor"
How to add MybatisPlusInterceptor?

[2021-10-18 09:36] 362228416 commented on #137
[code]
Console print ===aaa===, but when update show err msg
### Error updating database.  Cause: org.apache.ibatis.binding.BindingException: Parameter 'MP_OPTLOCK_VERSION_ORIGINAL' not found. Available parameters are [param1, et]

[2021-10-25 02:26] zhfeng opened #139 "Get the dataSource from the Container"
Currently we are using Datasouces.from(name) to get the dataSource by Agroal. It needs to change to use ArcContainer to get the data source while some other extension (such sharding-sphere-jdbc ) could produce the dataSource in different way. So it should be get them from the quarkus container.

[2021-11-02 16:29] 9too commented on #114
Sorry for the delay, I've updated quarkus to 2.4.0 and mybatis plugin to 0.0.10 in the sample project and the same error happens.

[2021-11-02 16:37] zhfeng commented on #114
Can you apply the following code snippet to see if it works ? Thanks !

I think you have to use ```@MapperDataSource("xmlconfig")``` to specify the dataSource which uses the mybatis.xml configuration. I will try to improve it in the next release for easiler using. Any idea ?
[code]

[2021-11-23 18:31] 9too commented on #114
I've finally been able to come back to the relevant project and test this again.
So indeed `@MapperDataSource("xmlconfig")` does the trick and fixes the issue.

Of course it would be great if it was detected automatically simply by using application.properties and not have to specify `@MapperDataSource`, but for now the annotation works just fine.

I would assume that if someone enables `quarkus.m

[2021-11-24 02:37] zhfeng commented on #114
Thanks @9too !

I think if  ```quarkus.mybatis.xmlconfig.enable```, you need to specify the datasource in ```mybatis-config.xml``` just like

[code]

And in application.properties, you have to define ```myDS``` like

[code]

It needs to parse the ```mybatis-config.xml``` to detect the ```db``` property at build time and produce the ```SqlSessionFactory``` from xml configuration and with the name o

[2021-11-26 02:48] naah69 commented on #139
is there any progress?
we used dynamic data source to load datebase config.so we need this feature.

[2021-11-26 05:58] zhfeng commented on #139
No, not yet. Is it possible to share a simple usecase of your application ? I'm thinking to get the DataSource from the ArcContainer at runtime but it needs more investigation.

[2021-12-02 03:17] naah69 commented on #139
i had reslove my problem ,i  just need `quarkus.datasource.db-kind` in config file,the others in dynamic config

[2021-12-02 04:14] zhfeng commented on #139
I'm glad to hear this message. And did you create the ```DataSource``` dynamicly by yourself but not use ```quarkus-agroal``` extension ?

[2021-12-02 04:17] naah69 commented on #139
i still use `quarkus-agroal`,without other dependency

[2021-12-02 07:13] zhfeng commented on #139
OK, I see and it looks like you create a ```other``` type of ```db-kind``` and implement the configs by yourself ?

[2021-12-08 09:57] Xinmudotmoe opened #145 "Are there plans to support Mybatis SQL Mapper XML functionality?"
This is a feature that Mybatis comes with and is used very frequently in slightly larger projects.

I did some kind of available state by modifying the quarkus-mybatis source code, but unfortunately I don't have the development experience of quarkus. Merging it may not be appropriate.

Related documentation:

[https://mybatis.org/mybatis-3/configuration.html#mappers](https://mybatis.org/mybatis-3/

[2021-12-08 11:00] zhfeng commented on #145
I think we has supported for xml configuration but I'm not sure the sqlmap is working. So can you provide a simple test or project for using the Sql Mapper XML ? I'd  like to take a look at it. Thanks a lot !

[2021-12-08 17:43] Xinmudotmoe commented on #145
I may find the problem, I found that **org.apache.ibatis.session.Configuration** has been created **two**, the former lacks SQL Mapper Xml information. I am trying to organize a minimal test item to reproduce the problem.

[2021-12-09 02:37] Xinmudotmoe commented on #145
@zhfeng Through the breakpoint of **org.apache.ibatis.session.configuration**.addMappedStatement (line: 768), I found two different **Configuration**, which happen to be Controller's acquisition of a Configuration without XML. Maybe that's the point.

It could also be that my error caused the xml configuration to not work properly.

Simple test project: [https://github.com/Xinmudotmoe/quarkus_myba

[2021-12-09 04:45] zhfeng commented on #145
Thanks @Xinmudotmoe and I think this is similar with https://github.com/quarkiverse/quarkus-mybatis/issues/114

And current there is a workaround to add ```@MapperDataSource("xmlconfig")``` to specify using the xm configuration. I just make some changes with your example to make sure it works. Please check https://github.com/Xinmudotmoe/quarkus_mybatis_sql_mapper_example/pull/1

I will raise anoth

[2021-12-09 04:46] zhfeng commented on #145
And feel free to close this issue if you get your example work properly. Thanks again !

[2021-12-09 07:30] Xinmudotmoe commented on #145
@zhfeng  It's working. Thanks.

[2021-12-09 07:30] #145 closed

[2021-12-09 09:15] zhfeng opened #147 "Improve datasoruce configuration in mybatis-config.xml"
Currently we have to use ```@DataSourceMapper("xmlconfig")``` when using the mybatis xml configuration. see #114 #145 and it could make some inconveniences.

I'm thinking to introduce ```quarkus.mybatis.xmlconfig.datasource``` to specify the datasource using in the xml configuration,

[2021-12-09 10:47] Xinmudotmoe opened #148 "Is it possible to register dtd resource files in quarkus-mybatis"
For example, under issue #85, when the server cannot access the Internet, it may still not work. I think the following two files can be registered by quarkus-mybatis to solve this problem.

- org/apache/ibatis/builder/xml/mybatis-3-config.dtd
- org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd

The relevant code here is in **org.apache.ibatis.builder.xml.XMLMapperEntityResolver** . Maybe in the f

[2021-12-09 11:46] zhfeng commented on #148
Thanks @Xinmudotmoe and the contribution is welcome :)

[2021-12-13 11:21] zhfeng commented on #10
Now we get https://github.com/quarkiverse/quarkus-mybatis/pull/149 and I will revisit this issue very soon.

[2021-12-13 11:26] zhfeng commented on #108
I close this issue sine there is further information and I think it could be similar to #114. @liuzhaozhao feel free to reopen it if you still get a problem when upgrading to use the lastest one.

[2021-12-13 11:26] #108 closed

[2021-12-13 14:14] #10 closed

[2022-01-24 19:13] dankiest opened #160 "Connect to mongodb"
is it possible to connect to mongodb using this extension?

[2022-01-25 02:10] zhfeng commented on #160
Currently it needs to leverage the JDBC DataSources from the Quarkus. So I not sure it could work with mongodb.

[2022-01-27 14:39] #160 closed

[2022-02-10 07:40] weir2010 opened #166 "分页返回数据不对"
@Path("/user/page/{page}/{pageSize}")
    @GET
    public Page<Users> list(@PathParam("page") Integer page,@PathParam("pageSize") Integer pageSize) {
		return userMapper.selectPage(new Page<>(page, pageSize), null);
	}

版本最新的1.0.0  quarkus-mybatis-plus
分页返回数据错误

[2022-02-10 08:44] zhfeng commented on #166
@weir2010 can you provide a simple reproducer or a unit test ? That could be very helpful for us to take a deep look.

@zohar-soul I think we have a paging test with mybatis-plus ?

[2022-02-10 09:14] weir2010 commented on #166
https://gitee.com/weir_admin/weirblog-quarkus/blob/master/quarkus-mybatis-demo/src/main/java/com/weir/quarkus/mybatis/ExampleResource.java
demo url地址

[2022-02-24 08:57] qsimu opened #169 "mybatis-plus是不是不能用ServiceImpl这部分功能?"

[2022-02-24 09:06] zhfeng commented on #169
Is there any example or test for using ServiceImpl ?

[2022-02-24 09:06] zhfeng commented on #169
In JVM mode, I think it could work but it might not  work in native mode.

[2022-02-28 01:42] zhfeng opened #172 "Add a config property to add Interceptors in mybatis-plus"
It could be helpful to add such intercepters in mybatisplus, like PaginationInnerInterceptor in https://github.com/quarkiverse/quarkus-mybatis/issues/166

[2022-02-28 03:52] shibinkai commented on #169
@zhfeng
ServiceImpl 功能这部分，麻烦关注一下写操作的事务，mp一直用的应该是spring-tx的实现；
Quarkus使用ServiceImpl 实现一些增删改查的写操作会报找不到spring-tx相关的实现类(JVM模式下运行)

[2022-02-28 04:59] zhfeng commented on #169
OK, I think we can leverage narayan-jta extension in  Quarkus to do some transactional operations. But it might have to make some changes in ServiceImpl. Does it provide something like SPI to replace the default implementation method of spring-tx ?

[2022-02-28 12:10] zhfeng opened #173 "Mark mybatis and mybatis-plus stable"
I think these two extensions could be marked to stable since both JVM and Native mode are supported after resloving #10 .

[2022-02-28 12:17] zhfeng opened #175 "Update docs to remove the "--report-unsupported-elements-at-runtime" option"

[2022-02-28 12:38] #173 closed

[2022-02-28 12:38] #175 closed

[2022-02-28 15:05] #172 closed

[2022-02-28 23:30] zhfeng commented on #137
We introduce a new propery ```quarkus.mybatis-plus.pagination.enabled``` in #172

[2022-02-28 23:30] #137 closed

[2022-03-01 15:05] zhfeng commented on #169
@shibinkai I justs cheked the ServiceImpl and it seems to use ```@Transacional``` in spring-tx to do some persist operations such as ```SaveBatch```, ```SaveOrUpdate```. So I think it could be hard to support ```ServiceImpl``` right now since Quarkus does not support spring-tx. Anyway if mybatis-plus could provide some SPI to abstarct the TransactionManager implementation in the futre, we will com

[2022-03-23 07:44] siaron opened #184 "Lambda writeReplace function error."
com.baomidou.mybatisplus.core.toolkit.LambdaUtils
[code]
在使用queryWrapper的时候这里报错没? 这里好像会报错spring native 和 mp 集成时.

[2022-03-23 07:52] zhfeng commented on #184
Can you share any re-producer codes ?

[2022-04-04 06:26] siaron commented on #184
demo
[quarkus-mp.zip](https://github.com/quarkiverse/quarkus-mybatis/files/8407085/quarkus-mp.zip)
1.  maven Compile to native: `./mvnw package -Pnative`
2. run : `./quarkus-mp-1.0-SNAPSHOT-runner`
3. http get `http://localhost:8080/mybatis/plus/user/search`
4.  http method:
[code]

[2022-04-08 07:52] zhfeng commented on #184
Thanks and it seems that mybatis-plus wants to resolve a class from the serialize lambda func. I'm not very this could be supportted in native mode. I'll keep investigating.

[2022-04-09 13:03] zhfeng commented on #184
Well, the lambda (class) bytecodes are generated at runtime. So there is no way to register the reflections when quarkus builds the application. But it looks like graalvm will support for lambda class serialization in Native Image, see https://github.com/oracle/graal/issues/3756 and there is  a commit https://github.com/oracle/graal/commit/b455f23b624a1af149c7d5769443a4775bedd087 which I think it

[2022-04-09 15:27] zhfeng commented on #184
@siaron I just tried to build the latest graalvm locally. and yeah, it supports the lambda class serialization when I add
[code]
in the serialization-config.json. So let's wait for the new release of graalvm.

@gastaldi is it possible to support this new feature ```lambdaCapturingTypes``` in quarkus?

[2022-04-09 15:42] gastaldi commented on #184
@zhfeng probably yes once it is available in the GraalVM recommended to Quarkus. Can you open an issue in the Quarkus issue tracker requesting this?

[2022-04-10 13:22] siaron commented on #184
yes . I have also seen this

[2022-04-11 00:43] zhfeng commented on #184
@gastaldi I raise https://github.com/quarkusio/quarkus/issues/24861 to track it.

[2022-05-11 08:48] zuochangqin opened #189 "Are there plans to support reactive? Like Hibernate Reactive?"
rt

[2022-05-11 09:02] zhfeng commented on #189
@zuochangqin No plan to support reacive right now. But I think we can try to use reactive-datasource at first.

[2022-05-13 06:15] zhfeng opened #191 "@NativeImageTest is deprecated"
It needs to use @QuarkusIntegrationTest

[2022-05-13 08:16] #72 closed

[2022-05-13 08:16] #191 closed

[2022-05-29 14:27] siaron commented on #184
any update？

[2022-05-30 06:58] zhfeng commented on #184
It looks like the fix was include in graalvm 22.1.0 and quarkus has been upgraded. So I think it should be good to take a look to https://github.com/quarkusio/quarkus/issues/24861

[2022-06-09 10:16] franck102 opened #199 "Two MyBatis SQL session factories created with XML config"
When I enable XML config with those properties:
[code]
those two build steps are executed:
io.quarkiverse.mybatis.deployment.MyBatisProcessor#generateSqlSessionFactoryFromXmlConfig
io.quarkiverse.mybatis.deployment.MyBatisProcessor#generateSqlSessionFactory

and the application ends with two instances of org.apache.ibatis.session.Configuration and two instances of SQLSessionFactory; only the XML o

[2022-06-09 11:35] zhfeng commented on #199
Thanks @franck102 for reporting it and yeah this is a know issue, please check https://github.com/quarkiverse/quarkus-mybatis/issues/147

Currently you have to `@DataSourceMapper("xmlconfig")` as a workaround.

[2022-06-10 07:40] hjh7516 opened #200 "java.lang.ClassNotFoundException: org.acme.mybatis.config.PageConfigurationFactory"
**quarkus version :** 2.9.2.Final
**quarkus-mybatis version :** 1.0.3
When I use quarkus. Mybatis. Configuration-factory to configure a custom ConfigurationFactory, then start the application throws java.lang.ClassNotFoundException

[2022-06-10 07:43] hjh7516 commented on #200
I think the reason for the problem of the product is that Class#forName( is used when loading the class. If Resources#classForName is used to load the class, this problem can be solved

[2022-06-10 09:20] zhfeng commented on #200
@hjh7516 can you provide a re-producer or test? I can take a deep look at it. Thanks!

[2022-06-10 10:12] hjh7516 commented on #200
**re-producer step：**
1. Create a new class with an arbitrary name. For my example, the contents of this class are shown below

![image](https://user-images.githubusercontent.com/33256886/173042151-7f26c168-000e-44f3-90f6-a63eac3fdd4d.png)
2.Use this class to configure in the configuration file(application.properties), as shown below:
![image](https://user-images.githubusercontent.com/33256886/173

[2022-06-12 06:01] siaron commented on #184
quarkus [2.10.0.CR1](https://github.com/quarkusio/quarkus/releases/tag/2.10.0.CR1) support it?

[2022-06-12 14:25] zhfeng commented on #184
@siaron yeah, I think we had fixed https://github.com/quarkusio/quarkus/issues/24861 in [2.10.0.CR1](https://github.com/quarkusio/quarkus/releases/tag/2.10.0.CR1)

[2022-06-13 05:19] siaron commented on #184
how to use? Is it currently not possible to use it directly?

[2022-06-13 05:35] zhfeng commented on #184
I think you can upgrade `quarkus.version` to `2.10.0.CR1` at first.

And then you can try to build `quarkus-mybatis` locally with `1.0.4-SNAPSHOT`. Use the following anntation

[code]

Can you verify it in native mode by running with `mvn clean verify -Dnative`?

[2022-06-13 09:50] siaron commented on #184
very nice, it work normal.

[2022-06-16 11:46] #200 closed

[2022-06-16 12:24] zhfeng commented on #184
Hi @siaron

I'm going to do a new release with bumping to quarkus 2.10..Final. So you can try  `quarkus-mybatis:1.0.4` later.

[2022-07-01 10:19] MrYang-Jia opened #205 "@Select annotation backfill. If the query field is not consistent with the entity field, it will not be backfilled. I don't know whether it can be optimized"
Using the @select annotation, it is found that the select field part must be consistent with the field name of the entity in order to backfill normally. I don't know whether there is any means to define it. In this way, when subqueries are performed, the entity field can be backfilled with select * or select database fields

使用 @Select 注解，发现 select 字段部分必须跟 实体的 字段名一致才能正常回填，不知道是否有什么手段可以定义，这样子查询的时候，就

[2022-07-01 16:02] zohar-soul commented on #205
You can try adding mapUnderscoreToCamelCase to mybatis settings.xml

see https://mybatis.org/mybatis-3/configuration.html

[2022-07-02 02:28] MrYang-Jia commented on #205
Thank you, but the result is still not backfilled. I have set it

![image](https://user-images.githubusercontent.com/76804829/176983409-c6445898-c9be-4ad9-83f2-3ed910a4fcd1.png)

[2022-07-16 09:52] rengang66 opened #208 "I wish add the plugins deal in mybatis-config.xml"
for example ,my mybatis-config.xml has content:

<plugins>
	<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="helperDialect" value="mysql" />
			<property name="supportMethodsArguments" value="true" />
			<property name="params" value="count=countSql" />
	</plugin>
</plugins>

In MyBatis extension ,The plugin needs to be processed in the method setupconfiguration  in

[2022-07-16 09:55] rengang66 commented on #208
<plugins>
	<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="helperDialect" value="mysql" />
			<property name="supportMethodsArguments" value="true" />
			<property name="params" value="count=countSql" />
	</plugin>
</plugins>

[2022-07-16 09:56] rengang66 commented on #208
[code]

[2022-07-17 14:30] zhfeng commented on #208
It would be helpful if you can provide a simple example or test for using plugins. I think it should work in JVM mode but maybe need some tricks to work in Native mode.

[2022-07-17 14:35] zhfeng commented on #205
Well, I think we can not mix using of `xml configuration` and `annotation`. So it could be useful to add `@ResutlMap` in `CityMapper`? did you use `quarkus-mybatis` or `quarkus-mybatis-plus`?

[2022-07-21 14:36] zhfeng commented on #184
It should be fixed in quarkus `2.10.0.Final`

[2022-07-21 14:36] #184 closed

[2022-08-07 06:00] seepine opened #214 "How to set global Camel-Case with quarkus-mybatis-plus?"
pom.xml
[code]
in springBoot ,it default enabled, but quarkus ,i must be use  `@TableField("nick_name")` every column

[2022-08-07 11:44] #214 closed, assigned to nobody

[2022-08-11 09:42] MrYang-Jia commented on #205
是的，我两个都用了，所以我也挺困惑的
Yes, I used both of them, so I was confused

[2022-08-11 09:54] MrYang-Jia commented on #205
后面我是用 (In the back, I use)
@TableName(value= "e_regulation", autoResultMap = true)
public class EReg extends BaseEntity
然后用(Then use)
@ResultMap("mybatis-plus_EReg")
The problem has been solved, so in the initial stage, it may be really mixed up to solve the problem, and some friends may encounter it. I don't know if this is the correct answer, but this is the way to solve the problem
解决了问题，所以初期可能

[2022-08-11 09:55] #205 closed

[2022-08-18 15:04] ghost opened #215 "Live reload on XML mappers"
**Enhancement suggestion**
It would be great to have live reload when changing XML mappers, currently changes are not picked up and a force reload is required.

[2022-08-24 10:18] Leibnizhu opened #217 "Cannot use @InjectMock with mybatis Mapper interfaces"
I'm trying to mock a mybatis Mapper interface for unit test.

The mapper interface is like :

[code]

unit test:

[code]

Running this test will fail with :

[code]

As https://quarkus.io/guides/getting-started-testing#further-simplification-with-injectmock said:

I tried `convertScopes = true` :

[code]

but the test still failed with the same error.

[2022-09-08 03:45] vovo28 opened #219 "about mybatis.mapper-locations"
Could you provide details for  ["quarkus.mybatis.mapper-locations"] property?

I  set application-dev.yaml

[code]

But error occurs:
org.apache.ibatis.binding.BindingException: Invalid bound statement (not found): org.intco.EmailRecordMapper.getObjects

[2022-10-25 07:41] neoDaice opened #234 "No constructor found in xxxbean matching [java.lang.Long, java.lang.Long, ....]"
I had the same problem as this issue in native mode(jvm is fine) ：[issue](https://github.com/quarkiverse/quarkus-mybatis/issues/20)
This is supposed to be a reflex problem，when you use a bean to receive the result in mapper, this problem will come up.

and my log is:
`Caused by: org.apache.ibatis.executor.ExecutorException: No constructor found in com.sensetime.jupiter.source.dto.BreakthroughSum m

[2022-10-25 08:13] zhfeng commented on #234
What did you add in `reflect-config.json` ?

[2022-10-25 10:40] neoDaice commented on #234
mapper is :
[code]
and i add BreakthroughSum to reflect-config.json :
[code]

[2022-10-26 13:48] zhfeng commented on #234
I think we can use `@RegisterForReflection` here just like:

[code]

Maybe we can do this in `MyBatisProcessor` to collect the annation `@ResultType` and register the class automatically. I need a further investigation.

[2022-10-27 02:25] neoDaice commented on #234
About quarkus, I am very happy to learn a new annotation **@RegisterForReflection** 。It would be great if it could be done automatically

[2022-11-25 19:08] p91paul opened #239 "Cannot use cursors in quarkus-mybatis"
Using cursors with annotation-based transactions leads to java.lang.IllegalStateException: A Cursor is already closed.

After very complicated debugging, this seems to happen because quarkus-mybatis opens a new session for each query instead of relying on a managed session that should be opened when the jta transaction starts.

The SqlSessionManager.SqlSessionInterceptor detects no localSqlSession

[2022-11-25 19:17] p91paul commented on #239
As a workaround, I used the following code, explicitly getting a session factory. However, I would expect transaction management to work for cursors as well, like in spring mybatis integration.

    @GET
    @Produces(MediaType.APPLICATION_JSON)
    @Path("/greetings")
    @Transactional(rollbackOn = Exception.class)
    public List<String> greetings() throws Exception {
        log.debug("greetin

[2022-11-28 04:09] zhfeng commented on #239
Thanks @p91paul for reporting and very handy re-producer project. I will take a look these days.

[2022-11-28 07:40] zhfeng commented on #239
It seems that we need to provide a similar QuarkusSessionManager to manage a SqlSession in the transactions.

[2022-11-28 10:18] zhfeng commented on #239
@p91paul I just wonder to know if `Cursor` is only expected to work in a transaction?

[2022-11-28 21:27] p91paul commented on #239
Not necessarily in a transaction, the important thing is that the cursor is opened and used without closing the session. Using Transactional is just a handy way of declaratively defining the session boundaries that works in Spring Boot.